html, body
{
    background-color:#1C1C1C;
    height: 98%;
}
ul{
    background-color:#3A434D;
    list-style-type:none;
    margin: 1px;
    padding:5px;
}
.headBox {
    background-color:#4B5765;
    border: solid black 2px;
    display:flex;
    flex-wrap: wrap;
}
.colorFiles{
    max-width: 100%;
    height: 80px;
}
.profilePic{
    max-width: 100%;
    height: 55px;
    border: solid black 2px;
    margin: 5px;
}
.leftImg{
}
.leftHeadBox{
    flex-grow: 1;
    align-self: center;
}
.midHeadBox{
    flex-grow: 20;
    background-color:#424242;
    align-self: center;
    padding: 5px;
    border: solid black 2px;
}
.picBox{
    align-self: center;
}
.rightHeadBox{
    flex-grow: 1;
    text-align: center;
    background-color:#424242;
    align-self: center;
    padding: 5px;
    border: solid black 2px;
    border-right: none;
}
.headerText{
    font-family: Trebuchet;
    font-weight: lighter;
    font-size: 25px;
    color:#FAFAFA;
    padding-right: 10px;
    padding-left: 10px;
}
.subHeaderText{
    font-family: Trebuchet;
    font-weight: lighter;
    font-size: 15px;
    color:#FAFAFA;
}
.titleText{
    font-family: Arial, Trebuchet;
    font-weight: lighter;
    color:#FAFAFA;
    font-size: 20px;
    padding-left: 10px;
}
.name{
    font-family: Arial, Trebuchet;
    font-weight: lighter;
    color:#FAFAFA;
    font-size: 20px;
}
.leftLinkBox {
    background-color:#4B5765;
    border: solid black 2px;
    border-top: none;
    border-right: none;
    padding: 3px 8px;
    display: inline-block;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
    flex-grow: 1;
    align-self: baseline;
    flex-direction: row;
}
.leftLink {
    text-align: center;
    font-family: Arial, Trebuchet;
    -o-transition: color .15s linear;
    -ms-transition: color .15s linear;
    -moz-transition: color .15s linear;
    -webkit-transition: color.15s linear;
    transition:.15s ease-in-out;
}
.leftLink:hover{
    background-color: #5F6E80;
    color: #F2F2F2;
}
.lefty{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Trebuchet;
    font-weight: lighter;
    font-size: 17px;
    margin: 5px;
}
.leftyButton{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Trebuchet;
    font-weight: lighter;
    font-size: 17px;
    margin: 5px;
    text-align: center;
}
.leftyAssignments{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    margin: 3px;
}
.leftyItem{
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Arial, Trebuchet;
    font-weight: lighter;
    font-size: 13px;
}
.iframeMain{
    height: 100%;
    width: 100%;
}
.iframeDiv{
    flex-grow: 20;
}
.contentBox{
    display: flex;
    flex-direction: column;
    height: calc(100% - 85px);
}
.content{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
}
.copy{
    text-align:center;
    font-size:12px;
    color:#FAFAFA;
    align-self: flex-end;
    margin-top: 20px;
}
.paragraph{
    font-family: Arial, Trebuchet;
    font-weight: lighter;
    font-size: 15px;
    color:#FAFAFA;
    padding-left: 10px;
    padding-right: 10px;
}
.answerBox{
    font-family: Arial, Trebuchet;
    font-weight: lighter;
    font-size: 14px;
    color:#FAFAFA;
    padding-left: 20px;
}
.comments{
    font-size: 16px;
    font-family: Arial, Trebuchet;
    font-weight: lighter;
    background: #4B5765;
}
label{
    font-family: Trebuchet;
    font-weight: lighter;
    font-size: 18px;
}
a{
    
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #F2F2F2;
    background-color: transparent;
    text-decoration: none;
}
input, a:active {
    color: #B4D0F3;
    background-color:#3A434D;
    text-decoration: none;
}